<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" verbose="1" thread-count="1" parallel="tests">
    <test name="nidoGe" parallel="tests">
        <classes>
            <class name="LoginUserTest"/>
            <class name="RegisterUserTest"/>
        </classes>
    </test>
</suite>